/* #CDBA54
#1C5B43 */
:root {
  --QTgold: #CDBA54;
  --QTteal: #1C5B43;
}

html, body {
  width: 100%;
  height: 110%;
}

body {
  /* background-image: url(../images/milkywayfillerQT.jpg); */
  background-color: var(--QTgold);
}

.teal-text {
  color: var(--QTteal);
}

.text-logo {
  width: 300px;
  padding: 10px;
}

.sun {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 10px;
}

.navbar {
  height: 10%;
  color: var(--QTteal);
}

nav.nav-extended {
  height: 112px;
}

.logo {
  color: var(--QTgold);
  color: var(--QTteal);
}

.sun-image {
  height: 35%;
  width: 35%;
  text-align: center;
}